.item
  width: 150px
  height: 100px
  background-color: rgba(153,153,153, 0.2)
  margin: 10px
  position: relative
  display-inline-block()
  &:focus
    background-color: #fff
    .content
      color #000

.content
  font-size: 30px
  color #fff
