.item
  width: 220px
  height: 100%
  background-color: #707070
  background-repeat no-repeat
  background-position: center
  background-size cover
  margin-left 10px
  position: relative
  display-inline-block()
  &.disabled
    background-color: #363636
  &:first-child
    margin-left: 0
  &:focus
    background-color: #fff
    box-shadow #000 0 0 0 15px inset
    .content
      font-size: 80px
      color #000

.content
  font-size: 50px
  font-weight: 600
  color #fff
