.item
  width: 150px
  height: 100px
  background-color: rgba(202, 202, 202, 0.4)
  margin-left 10px
  position: relative
  display-inline-block()
  &.disabled
    background-color: rgba(153,153,153, 0.1)
  &:first-child
    margin-left: 0
  &:focus
    background-color: #fff
    box-shadow #ff1983 0 0 0 3px inset
    .content
      color #000

.content
  font-size: 30px
  color #fff
