.element
  background-color: #ebefff
  margin 10px
  position: relative
  outline none
  display-inline-block()
  &.block
    display: block
  &:focus
    box-shadow #ff65a7 0 0 0 4px

.label
  font-size: 20px
  color #a6a8d4
  text-align: center
