.element
  size 100px
  line-height: 100px
  background-color: #8d91ff
  margin 10px
  font-size: 40px
  color #7075ff
  text-align: center
  outline none
  display-inline-block()
  &:focus
    box-shadow #ff65a7 0 0 0 4px
