html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/18px Geneva, sans-serif;
}


.wrapper {
  display: block;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar:focus {

}

.navig {
  padding: 20px 10px;
}

.navigItem {
  line-height: 28px;
  padding: 0 10px;
  margin-top: 10px;
  cursor: pointer;
}

.navigItem:focus {
  border-color: #305dff;
  box-shadow: #305dff 0 0 10px 1px;
}

.navigItem:first-child {
  margin-top: 0;
}

.container {
  margin-left: 200px;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.search {
  border: 1px solid #000;
}

.search:focus {
  border-color: #305dff;
  box-shadow: #305dff 0 0 10px 1px;
}

.search input {
  width: 100%;
  height: 34px;
  padding: 0 15px;
  border: 0;
  box-sizing: border-box;
}

.content {
  padding: 20px 20px 100px;
}

.cards {
  margin: -10px;
  overflow: hidden;
}

.card {
  width: 20%;
  float: left;
}

.cardContent {
  height: 50px;
  margin: 10px;
  border: 1px solid #000;
  position: relative;
}

.cardContent:focus {
  border-color: #305dff;
  box-shadow: #305dff 0 0 10px 1px;
}

.cardLabel {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 22px;
}
