.element
  width 50px
  height: 30px
  line-height: 30px
  background-color: #8d91ff
  margin-left 10px
  font-size: 20px
  color #7075ff
  text-align: center
  outline none
  display-inline-block()
  &:first-child
    margin-left 0
  &:focus
    box-shadow #ff65a7 0 0 0 4px
